@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using NxtStudio.Collapse;

@namespace NxtStudio.Collapse.UI
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

<root>
    <InputHints></InputHints>
    <TimedAction></TimedAction>
    <CraftingIndicator></CraftingIndicator>
    <Nametags></Nametags>
    <Vitals></Vitals>
    <Minimap></Minimap>
    <Thoughts></Thoughts>
    <Chatbox></Chatbox>
    <Map></Map>
    <Crafting></Crafting>
    <Trading></Trading>
    <Storage></Storage>
    <Cooking></Cooking>
    <Recycling></Recycling>
    <Backpack></Backpack>
    <LockScreen></LockScreen>
    <Death></Death>

    <div @ref="Top" class="top">

    </div>

    <div class="bottom">
        <Hotbar></Hotbar>
    </div>

    <div class="center">
        <ToolboxMenu></ToolboxMenu>
        <ReloadMenu></ReloadMenu>
    </div>

    <div class="overlay">
        <Cursor></Cursor>
    </div>
</root>

@code
{
    public static Hud Current { get; private set; }

    private Label ZoneName { get; set; }
    private Panel Top { get; set; }

    public async void ShowZoneName( string name, float delay )
    {
        ZoneName?.Delete( true );
        ZoneName = Top.Add.Label( name, "zone" );

        await Task.DelaySeconds( delay );

        ZoneName?.Delete();
    }

    protected override void OnParametersSet()
    {
        Current = this;
    }
}
