@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

<root>
    <TimedAction></TimedAction>
    <Nametags></Nametags>
    <Vitals></Vitals>
    <Thoughts></Thoughts>
    <Chatbox></Chatbox>
    <Crafting></Crafting>
    <Storage></Storage>
    <Cooking></Cooking>
    <Backpack></Backpack>
    <LockScreen></LockScreen>

    <div class="bottom">
        <Hotbar></Hotbar>
    </div>

    <div class="center">
        <ToolboxMenu></ToolboxMenu>
        <ReloadMenu></ReloadMenu>
    </div>

    <div class="overlay">
        <Cursor></Cursor>
    </div>
</root>
