Minimap {
    position: absolute;
    width: 100%;
    height: 100%;

    .container {
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        left: 32px;
        top: 32px;
        width: 300px;
        height: 300px;

        .image {
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }

        .markers {
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .player {
                position: absolute;
                background-image: url( /textures/ui/navigation.png );
                transform: translate( -50% -50% );
                pointer-events: none;
                background-size: cover;
                width: 32px;
                height: 32px;
            }

            .marker {
                position: absolute;
                background-image: url( /textures/ui/location.png );
                transform: translate( -50% -50% );
                pointer-events: none;
                background-size: cover;
                width: 32px;
                height: 32px;
            }
        }
    }
}
