Vitals {
    position: absolute;
    flex-direction: row;
    bottom: 32px;
    left: 48px;
    
    min-width: 450px;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .icon
    {
        max-height: 27px;
        max-width: 27px;
    }


    label {
        display:flex;
        
        justify-content: center;
        align-items: center;
        
        font-family: Rubik;
        font-size: 24px;
        text-shadow: 0px 0px 4px black;
        
        color: white;
        
        
    }
}
