Vitals {
    position: absolute;
    flex-direction: row;
    bottom: 32px;
    left: 48px;

    label {
        font-family: Rubik;
        font-size: 24px;
        text-shadow: 0px 0px 4px black;
        color: white;
    }
}
