Thoughts {
    position: absolute;
    flex-direction: column;
    bottom: 150px;
    width: 100%;

    .thoughts {
        flex-direction: column;
        align-items: center;

        ThoughtEntry {
            transition: opacity 0.5s ease-in;
            opacity: 1;

            label {
                font-family: Rubik;
                font-size: 32px;
                text-shadow: 0px 0px 4px black;
                color: white;
            }

            &:intro {
                opacity: 0;
            }

            &:outro {
                opacity: 0;
            }
        }
    }
}
