InputHints {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 64px;
        top: 64px;

        InputHint {
            margin-top: 8px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    &.hidden {
        display: none;
    }
}