@using System;
@using Sandbox;
@using Sandbox.UI;
@using NxtStudio.Collapse;

@namespace NxtStudio.Collapse.UI
@attribute [StyleSheet( "/ui/nametags/Nametag.scss" )]
@inherits Panel

@if ( !Player.IsValid() ) return;
@if ( Player.LifeState != LifeState.Alive ) return;

<root class="@(Player.IsSleeping ? "sleeping" : "")">
    <div class="dot"></div>
    <label class="name">@Player.DisplayName</label>
</root>

@code
{
    public CollapsePlayer Player { get; set; }

    public override void Tick()
    {
        var isHidden = true;
        var position = (Player.EyePosition - Player.Rotation.Forward * 20f).ToScreen();

        if ( position.z >= 0f )
        {
            var distance = Camera.Main.Position.Distance( Player.EyePosition );
            var maxDistance = 1024f;

            if ( distance <= maxDistance )
            {
                position.x *= Screen.Size.x * ScaleFromScreen;
                position.y *= Screen.Size.y * ScaleFromScreen;

                Style.Opacity = distance.Remap( 0f, maxDistance, 1f, 0f );
                Style.Left = Length.Pixels( position.x );
                Style.Top = Length.Pixels( position.y );

                isHidden = false;
            }
        }

        SetClass( "hidden", isHidden );

        base.Tick();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Player, Player.DisplayName, Player.LifeState, Player.IsSleeping );
    }
}