Nametag {
    position: absolute;
    transform: translate( -50% );
    align-items: center;
    flex-direction: row;
    opacity: 1;

    .dot {
        width: 12px;
        height: 12px;
        background-color: antiquewhite;
        border-radius: 50%;
        box-shadow: 0px 0px 16px 4px rgba( black 0.5 );
        margin-right: 8px;
    }

    .name {
        font-family: Vollkorn;
        font-size: 24px;
        text-shadow: 0px 0px 4px black;
        color: white;
    }

    &.inactive {
        .name {
            color: gray;
        }

        .dot {
            background-color: dimgray;
        }
    }

    &.hidden {
        display:none;
    }
}
