InventorySlot {
    transition: all 0.1s ease-in;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color:rgba(43, 43, 43, 0.75); 
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    .icon {
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }

    .glow {
        position: absolute;
        border-radius: 4px;
        width: 80px;
        height: 80px;
    }

    .more {
        background-image: url( /textures/ui/plus.png );
        background-size: cover;
        transition: all 0.2s ease-in;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 4px;
        bottom: 4px;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }

    .slot {
        position: absolute;
        pointer-events: none;
        font-family: Vollkorn;
        font-size: 16px;
        top: 7px;
        left: 6px;
        margin: 0;
        line-height: 0;
    }

    .stacksize {
        position: absolute;
        pointer-events: none;
        font-family: Vollkorn;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
        font-size: 20px;
        color: white;
        bottom: -2px;
        right: 4px;
    }

    &.selected {
        transition: all 0.1s ease-out;
        border-color:  rgba(0, 0, 0, 0.2);

        opacity: 1;
    }

    &:hover {
        &:not( .is-empty ) {
            transition: all 0.1s ease-out;
            transform: scale(1.1 1.1);
            sound-in: "ui.hover";
        }
    }

    &.pending-transfer {
        opacity: 0.5;
    }

    &.is-empty {
        opacity: 0.7;

        .glow {
            display: none;
        }
    }

    &.valid-drag {
        transition: all 0.1s ease-out;
        transform: scale(1.1 1.1);

        &.is-empty {
            background-color: rgba( desaturate( lawngreen, 0.5 ), 0.6 );
            border-color: desaturate( lawngreen, 0.7 );
        }
    }

    &.invalid-drag {
        transition: all 0.1s ease-out;
        transform: scale(1);
        opacity: 0.8;

        .overlay {
            background: linear-gradient(darken( red, 0.3 ), rgba( red, 0.5 ));
            border-radius: 4px;
            display: flex;
            opacity: 0.6;
        }

        .icon {
            opacity: 0.8;
        }
    }
}
