Storage {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 9vh;

    display: flex;
    pointer-events: all;

    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    transition: backdrop-filter-blur 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    padding-bottom: 100px;
    z-index: 100;
    opacity: 1;

    .body-container {
        width: 100%;
        flex-direction: row;
        justify-content:space-around;
        margin-top: 100px;

        .title {
            color: white;
            font-family: Rubik;
            font-size: 40px;
            background-color: rgba(24, 24, 24, 0.7);
            backdrop-filter-blur: 20px;
            border-radius: 2px 2px 0 0;
            padding-top: 6px;
        }

        .backpack {
            flex-direction: column;

            backdrop-filter-blur: 20px;
            .slots {
                max-width: 500px;
                width: 465px;
                
                padding: 1vh;
                background-color: rgba(46, 46, 46, 0.6);
    
                border: 1px solid rgba(200,200,200,0.03);
                border-radius: 5px;
            }
        }

        .equipment {
            flex-direction: column;
            width: 300px;
        
            border-radius: 5px;

            margin-right: 15px;

            .title 
            {
                font-size: 2.2vh;
                font-weight: 800;

                width: 100%;
                padding: 0.2vh 0vh;

                text-transform: uppercase;
                padding-top: 10px;
            }

            .slots
            {
                background-color: rgba(46, 46, 46, 0.6);
                backdrop-filter-blur: 20px;
                border-radius: 0 0 5px 5px;
                padding: 0.5vh 0.2vh;
                height: fit-content;
            }

            .clothcomponents
            {
                display:flex;
                flex-direction: column;

                justify-content: flex-end;
                margin-bottom: 10px;
            }
        }

        .storage {
            flex-direction: column;
            margin-left: 150px; 
            .slots {
                max-width: 500px;
                width: 465px;
                
                padding: 1vh;
                background-color: rgba(46, 46, 46, 0.6);
    
                border: 1px solid rgba(200,200,200,0.03);
                border-radius: 0 0 5px 5px;
            }
        }
    }

    .backpack,
    .equipment,
    .storage,
    .hotbar {
        .slots {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-shrink: 1;

            InventorySlot {
                margin: 2px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .hotbar {
        flex-direction: column;
        position: absolute;
        bottom: 0;
        padding: 0;
        bottom: 32px;

        .title {
            color: white;
            font-family: Rubik;
            font-size: 40px;
        }

        .slots {
            InventorySlot {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .equipment,
    .storage,
    .backpack {
        // margin-bottom: 32px;
        max-height:fit-content;
    }

    &.hidden {
        opacity: 0;

        .equipment,
        .backpack,
        .storage,
        .hotbar {
            pointer-events: none;
        }
    }
}
