@using System;
@using Sandbox;
@using Sandbox.UI;
@using NxtStudio.Collapse;

@namespace NxtStudio.Collapse.UI
@attribute [StyleSheet( "/ui/inventory/Storage.scss" )]
@inherits Panel
@implements IDialog
@implements IDroppable

@if ( !CollapsePlayer.Me.IsValid() ) return;
@if ( !Container.IsValid() ) return;

@{
    var equipment = CollapsePlayer.Me.Equipment;
    if ( !equipment.IsValid() ) return;

    var backpack = CollapsePlayer.Me.Backpack;
    if ( !backpack.IsValid() ) return;

    var hotbar = CollapsePlayer.Me.Hotbar;
    if ( !hotbar.IsValid() ) return;
}

<root>
    <div class="body-container">

        <div class="storage">
            <label class="title">@Name</label>

            <div class="slots">
                @for ( ushort i = 0; i < Container.SlotLimit; i++ )
                {
                    <InventorySlot OnSelected=@OnStorageSlotSelected Container=@Container Slot=@i></InventorySlot>
                }
            </div>
        </div>

        <div >
            <div class="equipment">
                <div class="head clothcomponents">
                    <label class="title">Head</label>

                    <div class="slots">
                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_head.png"
                            Container=@equipment
                            Slot=@((ushort)0)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_head.png"
                            Container=@equipment
                            Slot=@((ushort)0)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_head.png"
                            Container=@equipment
                            Slot=@((ushort)0)>
                        </InventorySlot>
                    </div>
                </div>
                
                <div class="upperBody clothcomponents">
                    <label class="title">Upper Body</label>
                    
                    <div class="slots">
                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_chest.png"
                            Container=@equipment
                            Slot=@((ushort)1)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_chest.png"
                            Container=@equipment
                            Slot=@((ushort)1)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_chest.png"
                            Container=@equipment
                            Slot=@((ushort)1)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_chest.png"
                            Container=@equipment
                            Slot=@((ushort)1)>
                        </InventorySlot>
                    </div>
                </div>
                
                <div class="lowerBody clothcomponents">
                    <label class="title">Lower Body</label>
                    
                    <div class="slots">
                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_legs.png"
                            Container=@equipment
                            Slot=@((ushort)2)>
                        </InventorySlot>

                        <InventorySlot
                            DefaultIcon="textures/ui/armor_slot_feet.png"
                            Container=@equipment
                            Slot=@((ushort)3)>
                        </InventorySlot>
                    </div>
                </div>

            </div>
            <div class="backpack">
                <label class="title">Inventory</label>

                <div class="slots">
                    @for ( ushort i = 0; i < backpack.SlotLimit; i++ )
                    {
                        <InventorySlot OnSelected=@OnBackpackSlotSelected Container=@backpack Slot=@i></InventorySlot>
                    }
                </div>
            </div>
        </div>
        

    </div>

    <div class="hotbar">
        @if ( Selected != null && Selected.Item is IContainerItem selected )
        {
            <label class="title">@selected.ContainerName</label>

            <div class="slots" style="margin-bottom: 24px;">
                @{
                    var childContainer = selected.Container;
                }

                @for ( ushort i = 0; i < childContainer.SlotLimit; i++ )
                {
                    <InventorySlot Container=@childContainer Slot=@i></InventorySlot>
                }
            </div>
        }

        <label class="title">Hotbar</label>

        <div class="slots">
            @for ( ushort i = 0; i < hotbar.SlotLimit; i++ )
            {
                <InventorySlot OnSelected=@OnHotbarSlotSelected Container=@hotbar Slot=@i></InventorySlot>
            }
        </div>
    </div>
</root>

@code
{
    public static Storage Current { get; private set; }

    public InventoryContainer Container { get; private set; }
    public InventorySlot Selected { get; private set; }
    public bool IsOpen { get; private set; }
    public Entity Entity { get; private set; }
    public string Name { get; private set; }

    public Storage()
    {
        Current = this;
        BindClass( "hidden", () => !IsOpen );
    }

    public void Open()
    {
        if ( IsOpen ) return;
        ClearSelected();
        Dialog.Activate( this );
        IsOpen = true;
    }

    public void Close()
    {
        if ( !IsOpen ) return;
        Dialog.Deactivate( this );
        IsOpen = false;
    }

    public void SetName( string name )
    {
        Name = name;
    }

    public void SetEntity( Entity entity )
    {
        Entity = entity;
    }

    public override void Tick()
    {
        if ( IsOpen && !Entity.IsValid() || ( Entity is LootSpawner spawner && Container.IsEmpty ) )
        {
            Close();
        }

        base.Tick();
    }

    public void SetContainer( InventoryContainer container )
    {
        if ( !CollapsePlayer.Me.IsValid() ) return;

        Container = container;
        Container.SetTransferHandler( GetTransferTarget );
    }

    public virtual bool CanDrop( IDraggable draggable, DraggableMode mode )
    {
        return true;
    }

    public virtual void OnDrop( IDraggable draggable, DraggableMode mode )
    {
        if ( draggable is InventorySlot slot )
        {
            CollapsePlayer.ThrowItem( slot.Item, Screen.GetDirection( Mouse.Position ), mode == DraggableMode.Split ? true : false );
        }
    }

    protected void Select( InventorySlot slot )
    {
        if ( Selected != null )
        {
            Selected.IsSelected = false;
        }

        Sound.FromScreen( "inventory.select" );

        slot.IsSelected = true;
        Selected = slot;
    }

    protected void ClearSelected()
    {
        if ( Selected != null )
        {
            Selected.IsSelected = false;
            Selected = null;
        }
    }

    protected virtual void OnBackpackSlotSelected( InventorySlot slot )
    {
        Select( slot );
    }

    protected virtual void OnHotbarSlotSelected( InventorySlot slot )
    {
        Select( slot );
    }

    protected virtual void OnStorageSlotSelected( InventorySlot slot )
    {
        Select( slot );
    }

    protected override int BuildHash()
    {
        var backpack = CollapsePlayer.Me?.Backpack;
        var hotbar = CollapsePlayer.Me?.Hotbar;

        InventoryContainer childContainer = null;
        if ( Selected != null && Selected.Item is IContainerItem selected )
        {
            childContainer = selected.Container;
        }

        return HashCode.Combine( CollapsePlayer.Me, Selected, childContainer, backpack, hotbar, Container );
    }

    private InventoryContainer GetTransferTarget( InventoryItem item )
    {
        return CollapsePlayer.Me?.Backpack;
    }
}
